body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ustawia wysokość na 100% widocznego ekranu */
  margin: 0;
  background: #333; /* Dodatkowe tło dla kontrastu */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 420px;
  height: 450px;
  background: transparent;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5);
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  transition: height 0.2s ease;
  animation: slideIn 0.3s ease-in-out, pulsate 2s infinite;
}
.wrapper.active {
  height: 550px;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
      0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
      0 0 80px rgba(0, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.7),
      0 0 40px rgba(0, 255, 255, 0.7), 0 0 80px rgba(0, 255, 255, 0.7),
      0 0 160px rgba(0, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
      0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
      0 0 80px rgba(0, 255, 255, 0.5);
  }
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.phone {
  margin-top: 50px;
  color: #00ffd5;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

form h1 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #00ffd5;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #00ffd5;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #00ffd5;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 40px;
  background: #00ffd5;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #00ffd5;
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
}

.register-link p a:hover {
  text-decoration: underline;
}

.pelement {
  color: #00ffd5;
}
@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.icon {
  color: #00ffd5;
}
@media (max-width: 600px) {
  .wrapper {
    width: 320px;
    height: 430px;
  }
  .wrapper .form-box.login {
    height: 400px;
    margin-bottom: 80px;
  }
  .wrapper .form-box {
    padding: 20px;
  }

  .input-box input {
    font-size: 14px;
    padding: 15px 35px 15px 15px;

    form h1 {
      font-size: 28px;
    }

    form button {
      height: 35px;
      font-size: 14px;
    }

    .remember-forgot,
    .register-link {
      font-size: 13px;
    }
  }
}
