.round-of-16 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding-top: 20px;
  animation: slideFromTop 0.5s ease-in-out;
  margin-top: 60px;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 740px) {
  .round-of-16-container {
    padding: 20px;
    font-size: 16px;
    width: 100%;
  }

  .round-of-16-container table {
    min-width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 740px) {
  .round-of-16-container table {
    min-width: 600px;
  }
}

.round-of-16-container table td {
  padding: 10px;
  background-color: rgba(26, 26, 26, 0.6);
}

.table-background {
  background-color: rgba(26, 26, 26, 0.6);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  animation: border-animation 5s infinite linear;
}

.column-container {
  color: #fff;
}

.column-container.gold {
  color: #ffd700;
}

.column-container.silver {
  color: #c0c0c0;
}

.column-container.bronze {
  color: #cd7f32;
}

.player {
  margin-bottom: 15px;
}

.round-of-16-container table {
  background-color: rgba(26, 26, 26, 0.804);
}

@media screen and (max-width: 740px) {
  .round-of-16-container table {
    min-width: 300px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 740px) {
  .round-of-16-container table {
    min-width: 600px;
  }
}

.round-of-16-container table td {
  padding: 15px;
  background-color: rgba(26, 26, 26, 0.6);
}

.table-background {
  background-color: rgba(26, 26, 26, 0.6);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  animation: border-animation 5s infinite linear;
}
