body .matches__background {
  background-color: rgba(26, 26, 26, 0.849);
  margin-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.matches__background h1 {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    #2196f3,
    #00ffd5,
    rgba(233, 30, 99, 0)
  );
  padding: 20px;
  margin-top: 40px;
}
.loading-text {
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background: none;
}
