.team-button,
.draw-button {
  /* font-weight: bold; */

  border: none;
  margin: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    #ffffff,
    #ffffff,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(233, 30, 99, 0)
  );

  width: 80vw;
  margin: 20px 15px 20px 15px;
  position: relative;
}

.game-container {
  margin-top: 10px;
  background-color: rgb(0, 255, 213, 0.05);
  margin-top: 90px;
  border-top: 1px solid #00ffd5;
  border-bottom: 1px solid #00ffd5;
  box-shadow: 0 -4px 5px #00ffd5, 0 4px 5px #00ffd5;
}
/* .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  max-width: 100vw;
} */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
}

.button-container > * {
  width: calc(50% - 10px);
  margin: 5px;
}
.game-date {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #00ffd5;
  transform: translateY(20px);
  margin-bottom: 10px;
  /* background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    #2196f3,
    #e91e63,
    rgba(233, 30, 99, 0)
  ); */
  padding: 10px 0;
}
/* team-button::after,
draw-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
} */

.team-button::before,
.draw-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 1000%;
  z-index: -1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

.team-button:hover::before,
.draw-button:hover::before {
  opacity: 1;
}

.team-button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 0.1),
    rgba(0, 255, 213, 0.1),
    rgba(233, 30, 99, 0)
  );

  color: #000;
}

.draw-button:hover {
  color: #000;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 0 10px;
  width: 100%;
  max-width: 100vw;
}

.matches__background {
  background: transparent;
  backdrop-filter: blur(5px);
}

.icondraw {
  font-size: 50px;
  padding-top: 5px;
  color: #000;
}

.country__match {
  margin-top: 30px;
}

/* .country__image {
  margin-left: 10px;
} */

@media (max-width: 768px) {
  .team-button,
  .draw-button {
    /* margin: 10px 5px; */
    font-size: 14px;
  }
  .draw-button {
    color: #000;
  }
}

@media (max-width: 768px) {
  .country-selected button {
    background-color: transparent;
  }
  .country-selected img {
    transform: scale(1.2) translateY(8px);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
  }
  body .matches__background {
    background-color: rgba(26, 26, 26, 0.849);
  }
  .country-selected .icondraw {
    transform: scale(1.7) translateY(4px);
    color: #000;
  }
  .country-selected p {
    opacity: 0;
  }
  p {
    color: #000;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.team-button:hover p {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  color: #000;
}

.team-button:hover img {
  transform: scale(1.2) translateY(8px);
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .team-button.selected {
    background: linear-gradient(
      45deg,
      rgba(33, 150, 243, 0),
      rgba(33, 150, 243, 0.2),
      rgba(0, 255, 213, 0.4),
      rgba(233, 30, 99, 0)
    );
  }
  .draw-button.selected {
    background: linear-gradient(
      45deg,
      rgba(33, 150, 243, 0),
      rgba(33, 150, 243, 0.4),
      rgba(0, 255, 213, 0.4),
      rgba(233, 30, 99, 0)
    );
  }
}
.country-selected {
  border: none;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 0.7),
    rgba(0, 255, 213, 0.7),
    rgba(233, 30, 99, 0)
  );
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5);

  transition: background 0.5s ease-in-out;
}

.country-selected img {
  transform: scale(1.2) translateY(8px);
  transition: transform 0.3s ease-in-out;
}
.country-selected img {
  transform: scale(1.2) translateY(8px);
  transition: transform 0.3s ease-in-out;
}
.country-selected .icondraw {
  transform: scale(1.7) translateY(4px);
  transition: transform 0.5s ease-in-out;
  color: #000;
}
.country-selected p {
  opacity: 0;
  color: #000;
}
.draw-button:hover p {
  color: #000;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.draw-button:hover .icondraw {
  color: #000;
  margin-top: 13px;
  transform: scale(1.7);
  transition: transform 0.3s ease-in-out;
}
.draw-button:hover {
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 0.1),
    rgba(0, 255, 213, 0.1),
    rgba(233, 30, 99, 0)
  );

  border: none;
  color: #000;
}
@media (max-width: 768px) {
  body {
    background-size: contain;
    background-attachment: scroll;
  }
}
.game-disabled {
  background-color: #000 !important;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.2;
  box-shadow: none !important;
  transition: none !important;
}

.team-button:hover:disabled::before,
.draw-button:hover:disabled::before {
  opacity: 0;
}

.team-button:hover:disabled,
.draw-button:hover:disabled {
  background: #000;
  color: #fff;
}
.game-container .game-date.game-disabled {
  background-color: transparent !important;
  color: #fff !important;
  opacity: 0.2;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .game-disabled {
    background-color: #000 !important;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.2;
    box-shadow: none !important;
    transition: none !important;
  }

  .team-button:hover:disabled::before,
  .draw-button:hover:disabled::before {
    opacity: 0;
    cursor: not-allowed;
  }

  .team-button:hover:disabled,
  .draw-button:hover:disabled {
    background: #000;
    color: #fff;
    cursor: not-allowed;
  }
  .game-container .game-date.game-disabled {
    background-color: transparent !important;
    color: #fff !important;
    opacity: 0.2;
    cursor: not-allowed;
  }
  .country-selected .game-disabled {
    cursor: not-allowed;
  }
}
.disabled-text-container {
  text-align: center;
}

.disabled-text {
  font-size: 14px;
  color: rgb(255, 255, 255, 0.2);
}
.prediction-info2 {
  color: #fff;
}
.prediction-info {
  margin-top: 10px;
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 0.3),
    rgba(0, 255, 213, 0.3),
    rgba(233, 30, 99, 0)
  );
}

.prediction-list {
  color: #fff;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.prediction-list li {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
}
.country-score {
  font-size: 35px;
  color: #fff;
  margin-top: -15px;
  letter-spacing: 2px;
}
.winner-button {
  border: 6px solid #48ff00;
}
.loser-button {
  border: 6px solid red;
}
.highlight {
  color: #000;
}
