.home-container {
  margin-bottom: 50px;
  text-align: center;
  /* margin-top: 200px; */
  /* transform: translateY(70%); */
}

.welcome-text {
  font-size: 60px;
  color: #fff;
  animation: slideIn 1s ease-out;
}

.kickoff-text {
  font-size: 40px;
  color: #fff;
  animation: fadeIn 1.5s ease-in-out;
}

.join-us-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 20px 50px;
  margin-top: 40px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 1),
    rgba(0, 255, 213, 1),
    rgba(233, 30, 99, 0)
  );
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 100px;
  transition: background 0.3s ease, transform 0.3s ease, opacity 1s ease;
  opacity: 0;
}

.join-us-button:hover {
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 1),
    rgba(0, 255, 213, 1),
    rgba(233, 30, 99, 0)
  );
}

.join-us-button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 100px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 1),
    rgba(0, 255, 213, 1),
    rgba(233, 30, 99, 0)
  );
  animation: neon-border 1s infinite alternate;
}

.join-us-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 100px;
  backdrop-filter: blur(10px);
}

.join-us-button.appear {
  animation: appear 1s forwards;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.modal {
  background-color: #fff;
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 80%;
  max-width: 500px;
}

.close-modal {
  position: absolute;
  top: 1px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.close-modal:hover {
  color: #00ffd5;
}

.join-us-modal-button {
  display: block;
  margin-top: 20px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 1),
    rgba(0, 255, 213, 1),
    rgba(233, 30, 99, 0)
  );
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.join-us-modal-button:hover {
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    rgba(33, 150, 243, 0.7),
    rgba(0, 255, 213, 0.7),
    rgba(233, 30, 99, 0)
  );
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes neon-border {
  0% {
    box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 15px #2196f3,
      0 0 20px #2196f3, 0 0 25px #2196f3;
  }
  100% {
    box-shadow: 0 0 5px #00ffd5, 0 0 10px #00ffd5, 0 0 15px #00ffd5,
      0 0 20px #00ffd5, 0 0 25px #00ffd5, 0 0 30px #00ffd5, 0 0 35px #00ffd5,
      0 0 40px #00ffd5, 0 0 45px #00ffd5;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .modal {
    width: 90%;
    padding: 15px;
  }

  .join-us-button {
    font-size: 18px;
    padding: 15px 40px;
  }

  .welcome-text {
    font-size: 40px;
  }

  .kickoff-text {
    font-size: 30px;
  }
}
