body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.navigation {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    #2196f3,
    #00ffd5,
    rgba(233, 30, 99, 0)
  );
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  width: 70px;
  height: 70px;
  list-style: none;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
}
.navigation .circle-wrapper {
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-decoration: underline;
}
.circle-wrapper1 {
  border-radius: 50px;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-decoration: underline;
}
.navigation ul li a .text {
  position: absolute;
  color: #fff;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation ul li a .circle {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  border: 1.8px solid #fff;
  transform: translateY(-37px) scale(0);
}
.navigation ul li.active a .circle {
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(-37px) scale(1);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(
    45deg,
    rgba(33, 150, 243, 0),
    #2196f3,
    #00ffd5,
    rgba(233, 30, 99, 0)
  );
  border: 6px solid #06021b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 #06021b;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 #06021b;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
svg:hover {
  transform: scale(1.2);
  transition-property: transform;
  transition-duration: 0.5s;
}
