.container-login-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  padding: 40px;
  background-color: rgba(26, 26, 26, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5),
    0 0 80px rgba(0, 255, 255, 0.5);
  animation: slideFromTop 0.5s ease-in-out;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  margin-top: 20px;
  font-size: 24px;
  color: #00ffff;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5);
}

.logout-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 4px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.5);
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #00ffff;
  color: #1a1a1a;
  border: 3px solid #00ffff;
}

.user-points {
  font-weight: bold;
  color: #00ffff;
}

@media (max-width: 768px) {
  .container-login-panel {
    height: 30vh;
  }
}
