.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  position: static;
  font-size: 13px;
}

.group {
  background-color: rgba(249, 249, 249, 0.9);
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
}

.group h2 {
  text-align: center;
  color: #333333;
}

.group ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.group li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
}

.group li:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .group {
    width: 45%;
  }
  .container {
    height: 100vh;
    margin-top: 110px;
  }
}

@media (max-width: 480px) {
  .group {
    width: 100%;
  }
}
